@media (max-width: 780px) {
.portfoliocollage-content {
    width: 90%;
    padding: 20px;
    min-width: 335px;
    max-width: 335px;
    margin-left: 10px;
    margin-top: -15px;
  }

.portfoliocollage-content h1, h2, h3, h4, ul, li, p {
    max-width: 300px;
}

.portfoliocollage-content h1 {
    font-size: 1.8rem;
}

.portfoliocollage-content h2 {
    font-size: 1.6rem;
}

.portfoliocollage-content h3 {
    font-size: 1.4rem;
}

.portfoliocollage-content h4 {
    font-size: 1.2rem;
}

.portfoliocollage-content ul {
    list-style-type: none;
    padding: 0;
}

.portfoliocollage-content hr {
    max-width: 290px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfoliocollage-dateformat {
  display: auto;
  gap: 0px;

}

    
}